#!/usr/bin/env bash
#                                       __
#                                     /\\ \
#                                   /\\ \\ \\
#                                   \// // //
#                                     \//_/
#
#                          X N L I - W o r k s p a c e
#                      Chezmoi - Environment installer
#
# -----------------------------------------------------------------------------
# Script library
{{ template "libbash/common" . }}
{{ template "libbash/command" . }}

# -----------------------------------------------------------------------------
only_run_on! "linux_fedora"

if command_missing? 'tig' 'delta'; then
  title 'Install missing GIT tools (`tig` and `git-delta`)'
  (
    sudo dnf install tig git-delta
  )
fi

if command_missing? 'kitty' 'fish' 'fzf' 'fd' 'nvim'; then
  title 'Install missing Terminal tools (`kitty`, `fish`, `nvim` and `fzf`)'
  (
    sudo dnf install kitty fish fzf fd-find util-linux-user neo-vim
  )
fi
