sourceDir: {{ .chezmoi.sourceDir }}
format: yaml

# --- Chezmoi settings ---
git:
  autoAdd: true
  autoCommit: false
  autoPush: false

diff:
  format: git
  pager: delta --side-by-side

merge:
  command: code
  args: ["--diff"]

# --- Template data ---
data:
  name: Alexandre Nicolaie
  full_name: Alexandre Nicolaie dit Clairville
  email: {{ promptString "What is your workspace email"}}
