{{ template "banner.tmpl" "ZSH - Plugins" }}

# --- Cloud management
littleq0903/gcloud-zsh-completion kind:fpath path:src
pbar1/zsh-terraform
zpm-zsh/ssh kind:zsh
gko/ssh-connect

# --- Git plugins
robbyrussell/oh-my-zsh path:plugins/git
robbyrussell/oh-my-zsh path:plugins/git-auto-fetch
robbyrussell/oh-my-zsh path:plugins/git-extras
robbyrussell/oh-my-zsh path:plugins/git-flow-avh
unixorn/git-extra-commands
laggardkernel/git-ignore
diazod/git-prune
rapgenic/zsh-git-complete-urls
robbyrussell/oh-my-zsh kind:fpath path:plugins/gas/_gas

# --- Terminal utility
zpm-zsh/clipboard
robbyrussell/oh-my-zsh path:plugins/direnv
robbyrussell/oh-my-zsh path:plugins/thefuck

# --- Autocomplete
micrenda/zsh-nohup
hlissner/zsh-autopair
MichaelAquilina/zsh-you-should-use
robbyrussell/oh-my-zsh path:plugins/command-not-found
robbyrussell/oh-my-zsh path:plugins/extract

# --- Zsh Users plugins
zsh-users/zsh-autosuggestions
zsh-users/zsh-completions
zsh-users/zsh-syntax-highlighting

# --- Powerlevel10k
romkatv/powerlevel10k
