# vim: ft=toml

# --- ASDF & plugin installation
[".asdf"]
type = "git-repo"
url = "https://github.com/asdf-vm/asdf.git"

[".asdf/plugins/zoxide"]
type = "git-repo"
exact = true
url = "https://github.com/nyrst/asdf-zoxide.git"

# --- BAT installation
[".local/bin/bat"]
type = "archive-file"
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}
url = "https://github.com/sharkdp/bat/releases/download/{{ .packages.bat_version }}/bat-{{ .packages.bat_version }}-x86_64-unknown-linux-gnu.tar.gz"
path = "bat-{{ .packages.bat_version }}-x86_64-unknown-linux-gnu/bat"
{{ end }}
executable = true

[".local/share/man/man1/bat-find.1"]
type = "archive-file"
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}
url = "https://github.com/sharkdp/bat/releases/download/{{ .packages.bat_version }}/bat-{{ .packages.bat_version }}-x86_64-unknown-linux-gnu.tar.gz"
path = "bat-{{ .packages.bat_version }}-x86_64-unknown-linux-gnu/bat.1"
{{ end }}

[".local/config/fish/completions/bat.fish"]
type = "archive-file"
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}
url = "https://github.com/sharkdp/bat/releases/download/{{ .packages.bat_version }}/bat-{{ .packages.bat_version }}-x86_64-unknown-linux-gnu.tar.gz"
path = "bat-{{ .packages.bat_version }}-x86_64-unknown-linux-gnu/autocomplete/bat.fish"
{{ end }}

# --- DELTA installation
[".local/bin/delta"]
type = "archive-file"
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}
url = "https://github.com/dandavison/delta/releases/download/{{ .packages.delta_version }}/delta-{{ .packages.delta_version }}-x86_64-unknown-linux-gnu.tar.gz"
path = "delta-{{ .packages.delta_version }}-x86_64-unknown-linux-gnu/delta"
{{ end }}
executable = true

# --- DIRENV installation
[".local/bin/direnv"]
type = "file"
url = "https://github.com/direnv/direnv/releases/download/{{ .packages.direnv_version }}/direnv.{{ .chezmoi.os }}-{{ .chezmoi.arch }}"
executable = true

# --- FD-FIND installation
[".local/bin/fd"]
type = "archive-file"
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}
url = "https://github.com/sharkdp/fd/releases/download/{{ .packages.fd_version }}/fd-{{ .packages.fd_version }}-x86_64-unknown-linux-gnu.tar.gz"
path = "fd-{{ .packages.fd_version }}-x86_64-unknown-linux-gnu/fd"
{{ end }}
executable = true

[".local/share/man/man1/fd-find.1"]
type = "archive-file"
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}
url = "https://github.com/sharkdp/fd/releases/download/{{ .packages.fd_version }}/fd-{{ .packages.fd_version }}-x86_64-unknown-linux-gnu.tar.gz"
path = "fd-{{ .packages.fd_version }}-x86_64-unknown-linux-gnu/fd.1"
{{ end }}

[".local/config/fish/completions/fd.fish"]
type = "archive-file"
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}
url = "https://github.com/sharkdp/fd/releases/download/{{ .packages.fd_version }}/fd-{{ .packages.fd_version }}-x86_64-unknown-linux-gnu.tar.gz"
path = "fd-{{ .packages.fd_version }}-x86_64-unknown-linux-gnu/autocomplete/fd.fish"
{{ end }}

# --- FZF installation
[".local/bin/fzf"]
type = "archive-file"
url = "https://github.com/junegunn/fzf/releases/download/{{ .packages.fzf_version }}/fzf-{{ .packages.fzf_version }}-{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
path = "fzf"
executable = true
