# --- Fonts
cask "font-iosevka-term-nerd-font"

# --- Development Tools
brew "fish"
brew "bash"
brew "neovim"
brew "nushell"
brew "starship"
cask "ghostty"
cask "antigravity"

# --- System Utilities
brew "btop"
brew "atuin"

# --- File Management
cask "rsyncui"
cask "rar"
brew "eza"

# --- Text Utilities
brew "difftastic"
brew "grep"
brew "lnav"

# --- Cleanup
cask "appcleaner"

# --- Security
brew "gnupg"
brew "pinentry"
brew "pinentry-mac"

# --- Communication
cask "slack"

# --- Internet
cask "zen"

# --- Network
brew "trippy"
brew "ipcalc"

# --- Misc
brew "mas"
