tap "stacklok/tap"

# --- Fonts
cask "font-iosevka-term-nerd-font"

# --- Development Tools
brew "bash"
brew "fish"
brew "gh"
brew "neovim"
brew "nushell"
brew "opencode"
brew "starship"
cask "antigravity"
cask "ghostty"
cask "zed"

# --- System Utilities
brew "atuin"
brew "btop"
cask "raycast"

# --- File Management
brew "eza"
cask "rar"
cask "rsyncui"

# --- Text Utilities
brew "difftastic"
brew "grep"
brew "lnav"

# --- Cleanup
cask "appcleaner"

# --- Security
brew "gnupg"
brew "pinentry"
brew "pinentry-mac"
brew "thv"
cask "bitwarden"

# --- Communication
cask "slack"

# --- Internet
cask "zen"

# --- Network
brew "ipcalc"
brew "trippy"

# --- Misc
brew "mas"
