#!/usr/bin/env bash
{{ template "banner.tmpl" "Homebrew - Bundle installation" -}}

# Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}

if command -v brew >/dev/null 2>&1; then
    echo "Installing/Updating Homebrew packages from Brewfile..."
    brew bundle --global
else
    echo "Homebrew not found. Skipping brew bundle."
fi
