#!/bin/env bash
{{ template "banner.tmpl" "Fish - Post-install/Post-upgrade script (mise)" }}
# hashlock: {{ include "dot_config/private_mise/config.toml.tmpl" | sha256sum }}

export PATH="$HOME/.local/bin:$PATH"

source <(mise activate bash)
mise shell go
mise shell rust

source <(mise hook-env bash)
mkdir --parent ~/.config/fish/conf.d ~/.config/fish/completions
mise activate fish > ~/.config/fish/conf.d/mise.fish
mise completion fish > ~/.config/fish/completions/mise.fish

mise install --yes
