#!/usr/bin/env bash
#                                       __
#                                     /\\ \
#                                   /\\ \\ \\
#                                   \// // //
#                                     \//_/
#
#                          A N D C - W o r k s p a c e
#                      Chezmoi - Environment installer
#
# -----------------------------------------------------------------------------
# Script library
{{ template "libshell/common" . }}

# -----------------------------------------------------------------------------
# Install WhiteSur Gnome theme.
run_on_docker? && exit 0 # NOTE: disable this script if the current environment is a docker container

only_run_on! "linux_amd64" || exit 0
if ! command -v gnome-shell &> /dev/null; then
  echo "No GNOME environment found... aborted"
  exit
fi

cd "$(mktemp --directory)" || exit

title "Install WhiteSur GNOME theme (gtk3/4, gnome shell, firefox & flatpak)"
(
  subtitle 'Prepare `WhiteSur-gtk-theme`'
  git clone https://github.com/vinceliuice/WhiteSur-gtk-theme
  @ pushd WhiteSur-gtk-theme || exit

  subtitle "Install theme for GTK and GNOME SHELL"
  ./install.sh \
    --color Light --opacity normal \
    --panel-opacity 75 --panel-size bigger \
    --size 220 --icon fedora --nautilus-style glassy --libadwaita --highdefinition --right

  subtitle "Install theme for GDM"
  sudo ./tweaks.sh \
    --gdm \
    --color Light --opacity normal

  subtitle "Install theme for Firefox and Flatpak"
  ./tweaks.sh \
    --dash-to-dock --firefox alt --flatpak \
    --color Light --opacity normal

  @ popd || exit
)

title "Install WhiteSur icon theme"
(
  subtitle 'Prepare `WhiteSur-icon-theme`'
  git clone https://github.com/vinceliuice/WhiteSur-icon-theme
  @ pushd WhiteSur-icon-theme || exit

  # PATCH: I dislike the status/changes-* icons (flat icon on 3D drive icons). I prefer the
  #        ones offered by Papirus (https://github.com/PapirusDevelopmentTeam/papirus-icon-theme)
  subtitle "Patch some icons"
  papirus_version=20230104
  @ wget -O./src/status/16/changes-allow.svg "https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/raw/${papirus_version}/Papirus/16x16/status/changes-allow.svg"
  @ wget -O./src/status/16/changes-prevent.svg "https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/raw/${papirus_version}/Papirus/16x16/status/changes-prevent.svg"
  @ wget -O./src/status/22/changes-allow.svg "https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/raw/${papirus_version}/Papirus/22x22/status/changes-allow.svg"
  @ wget -O./src/status/22/changes-prevent.svg "https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/raw/${papirus_version}/Papirus/22x22/status/changes-prevent.svg"
  @ wget -O./src/status/24/changes-allow.svg "https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/raw/${papirus_version}/Papirus/24x24/status/changes-allow.svg"
  @ wget -O./src/status/24/changes-prevent.svg "https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/raw/${papirus_version}/Papirus/24x24/status/changes-prevent.svg"
  @ wget -O./src/status/32/changes-allow.svg "https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/raw/${papirus_version}/Papirus/32x32/status/changes-allow.svg"
  @ wget -O./src/status/32/changes-prevent.svg "https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/raw/${papirus_version}/Papirus/32x32/status/changes-prevent.svg"

  subtitle "Install icon theme"
  ./install.sh --alternative --bold

  @ popd || exit
)

title "Install WhiteSur wallpaper"
(
  subtitle 'Prepare `WhiteSur-wallpapers`'
  git clone https://github.com/vinceliuice/WhiteSur-wallpapers
  @ pushd WhiteSur-wallpapers || exit

  subtitle "Install wallpaper"
  sudo ./install-gnome-backgrounds.sh --theme monterey --screen 2k

  @ popd || exit
)
