#!/usr/bin/env bash
#                                       __
#                                     /\\ \
#                                   /\\ \\ \\
#                                   \// // //
#                                     \//_/
#
#                          X N L I - W o r k s p a c e
#                      Chezmoi - Environment installer
#
# -----------------------------------------------------------------------------
# Script library
{{ template "libbash/common" . }}
{{ template "libbash/command" . }}

# -----------------------------------------------------------------------------
only_run_on! "linux" || exit 0

if ! command_missing? 'fish'; then
  if [[ "$(cat /etc/passwd | grep "^${USER}:" | cut -d: -f 7)" != "$(which fish)" ]]; then
    subtitle 'Install all fish plugins'
    fish -c 'curl -sL https://git.io/fisher | source && fisher update'

    subtitle 'Change default shell for `fish`'
    chsh --shell "$(which fish)"
  fi
fi
