#!/usr/bin/env bash
#                                       __
#                                     /\\ \
#                                   /\\ \\ \\
#                                   \// // //
#                                     \//_/
#
#                          X N L I - W o r k s p a c e
#                      Chezmoi - Environment installer
#
# -----------------------------------------------------------------------------
# Script library
{{ template "libbash/common" . }}
{{ template "libbash/command" . }}

# -----------------------------------------------------------------------------

# Install asdf
if [ ! -d "${HOME}/.asdf" ]; then
  title 'Install `asdf` package manager'
  (
    asdf_version=v0.11.1
    git clone https://github.com/asdf-vm/asdf.git "${HOME}/.asdf" --branch "${asdf_version}"
  )
fi

# Generates dedicated SSH keys for git
if [ ! -f "${HOME}/.ssh/git.ed25519.pub" ]; then
  title "Generate dedicated SSH key for git"
  (
    ssh-keygen -t ed25519 -C "$(hostname)_GitOnly" -f "${HOME}/.ssh/git.ed25519"

    echo "SSH public key: $(tput bold)$(cat "${HOME}/.ssh/git.ed25519.pub")$(tput sgr0)"
    echo "Please copy the previous key and go to https://github.com/settings/ssh/new?ssh_key"
    echo "Press Enter to continue..."
    read
  )
fi

