#!/usr/bin/env bash
#                                       __
#                                     /\\ \
#                                   /\\ \\ \\
#                                   \// // //
#                                     \//_/
#
#                          A N D C - W o r k s p a c e
#                      Chezmoi - Environment installer
#
# -----------------------------------------------------------------------------
# Script library
{{ template "libshell/common" . }}
{{ template "libshell/pkg" . }}

# -----------------------------------------------------------------------------
title "Install all packages used by my shell configuration"

if [ ! -d "${HOME}/.asdf" ]; then
  subtitle 'Install `asdf` package manager'
  (
    # renovate: datasource=github-releases depName=asdf-vm/asdf
    asdf_version=v0.12.0
    git clone https://github.com/asdf-vm/asdf.git "${HOME}/.asdf" --branch "${asdf_version}"
  )

  subtitle 'Install all `asdf` global tools'
  asdf install
fi

if [ ! -f "${HOME}/.ssh/git.ed25519.pub" ]; then
  subtitle "Generate dedicated SSH key for git"
  (
    ssh-keygen -t ed25519 -C "$(hostname):git-only" -f "${HOME}/.ssh/git.ed25519" -P ''

    echo "SSH public key: $(cat "${HOME}/.ssh/git.ed25519.pub")"
    echo "Please copy the previous key and go to https://github.com/settings/ssh/new?ssh_key to add to Github"
  )
fi

(
  subtitle 'Install `fish` shell'
  os_pkg_add "fish"

  subtitle 'Install all fish plugins'
  fish -c 'curl -sL https://git.io/fisher | source && fisher update'

  subtitle 'Change default shell for `fish`'
  chsh --shell "$(which fish)"
)

(
  subtitle 'Install `fzf`, `fd`, `nvim`, `direnv` and `util-linux-user` packages to simplify my daily work'
  os_pkg_add "fzf" "fd-find" "neovim" "direnv" "util-linux-user"
)
