{{- $title := "XNLI-Workspace" -}}
{{- if kindIs "map" . -}}{{- $title = .Title -}}{{- end -}}
{{- $title = (regexReplaceAll "(.)" $title "${1} ") -}}

{{- $subtitle := . -}}
{{- if kindIs "map" . -}}{{- $subtitle = .Subtitle -}}{{- end -}}
#                                       __
#                                     /\\ \
#                                   /\\ \\ \\
#                                   \// // //
#                                     \//_/
#
# {{ repeat (div (sub 77 (len $title)) 2 | int) " " }}{{ $title }}
# {{ repeat (div (sub 77 (len $subtitle)) 2 | int) " " }}{{ $subtitle }}
#
# -----------------------------------------------------------------------------
