#                                       __
#                                     /\\ \
#                                   /\\ \\ \\
#                                   \// // //
#                                     \//_/
#
#                          X N L I - W o r k s p a c e
# {{ repeat (div (sub 77 (len .)) 2 | int) " " }}{{ . }}
#
# -----------------------------------------------------------------------------
