{{ template "banner.tmpl" "Mise - Configuration file" }}
[settings]
experimental = true

[tools]
go = "latest"
node = "lts"
python = "latest"
rust = "latest"

eza = "latest"
kubectl = "latest"
"ubi:cargo-bins/cargo-binstall" = "latest"
"ubi:cli/cli" = { version = "latest", exe = "gh" }
"ubi:junegunn/fzf" = "latest"
"ubi:sharkdp/bat" = "latest"
"ubi:sharkdp/fd" = "latest"
"ubi:starship/starship" = "latest"
"ubi:str4d/rage" = "latest"
"ubi:tummychow/git-absorb" = "latest"
"ubi:Wilfred/difftastic" = { version = "latest", exe = "difft" }
