{{ template "banner.tmpl" "Fish - Environment Variables" }}

# --- Editor Configuration
# -----------------------------------------------------------------------------
set --global --export EDITOR "nvim"
set --global --export VISUAL $EDITOR
set --global --export GIT_EDITOR $EDITOR

# --- Tool-specific Variables
# -----------------------------------------------------------------------------
set --global --export TF_PLUGIN_CACHE_DIR "$HOME/.terraform.d/plugin-cache"

{{ if eq .chezmoi.os "darwin" }}
# --- MacOS-specific Locale Configuration
# -----------------------------------------------------------------------------
set --erase LC_ALL
set --global --export LANG en_US.UTF-8
set --global --export LC_CTYPE en_US.UTF-8
set --global --export LC_COLLATE en_US.UTF-8
set --global --export LC_MESSAGES en_US.UTF-8
{{ end }}
