{{ template "banner.tmpl" "Fish - Custom Functions" }}

# --- Chezmoi Functions
# -----------------------------------------------------------------------------
if command -sq chezmoi
  function chezmoi_banner --description "Generate personal file header"
    chezmoi execute-template '{{ "{{" }} template "banner.tmpl" dict "Title" "'$argv[1]'" "Subtitle" "'$argv[2]'" }}';
  end
end

abbr --add --global banner chezmoi_banner
