{{ template "banner.tmpl" "Fish - Keychain profile" }}

if status is-login; and command -sq keychain
    and status is-interactive
    # To add a key, set -Ua SSH_KEYS_TO_AUTOLOAD keypath
    # To remove a key, set -U --erase SSH_KEYS_TO_AUTOLOAD[index_of_key]
    keychain --eval $SSH_KEYS_TO_AUTOLOAD | source

    abbr --add --global keychain_add set --append --universal SSH_KEYS_TO_AUTOLOAD
end
